@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700&family=Oswald:wght@300;400;500;600&display=swap');

/*----------------------------------------Colours*/


/*----------------------------------------Header*/

header {
    margin: 0;
    padding: 75px;
    background-color: #14213d;
}

header div {
    line-height: 48px;
}

.home-page-space {
    margin-top: 20px;
}

.h2, h2 {
    font-family: Figtree;
    font-size: 300%;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fca311;
    float: left;
    text-decoration: none;
    padding-top: 25px;
}

#menu {
    font-size: 100%;
    list-style-type: none;
    letter-spacing: 3px;
}

#menu li {
    font-family: Oswald;
    text-align: center;
    display: inline;
    float: right;
    margin: 2px;
    background-color: rgb(15, 15, 15, 0.5);
    padding: 3px;
    border-radius: 5%;
    width: 30%;
}

li a {
    text-decoration: none;
    color: #fca311;
    text-transform: uppercase;
}

a:hover {
    color: #cccccc;
}

.container-fluid {
    width:auto;
}

.bg-dark {
    --bs-bg-opacity: 0;
}

.navbar-toggler-icon {
    width:2em;
    height: 2em;
}

/*----------------------------------------Body*/

body {
    background-color: #cccccc;
    background-size: cover;
    margin: 0;
}

#business-image {
    height: 400px;
    width: 100%;
    background: url("../images/main-imagesm.jpg") no-repeat center center;
}

#descrip-image {
    height: 300px;
    width: 100%;
    margin: auto;
    
    background: url("../images/form-imagesm.jpg") no-repeat center center;
}

.body-link {
    background-color: #14213d;
    border-radius: 5%;
    color: #cccccc;
    padding: 5px;

}

.body-link:hover {
    color: #fca311;
}

.history {
    width: 500px;
    margin: auto;
}

section h3 {
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 25px;
}

.wool-range, .linen-range, .faux-leather-range {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    text-align:center;
}

    
.product-description, .enquire-btn {
    padding-top: 100px;
}

@media (max-width: 767px) {
    .product-description, .enquire-btn {
      padding-top: 20px;
    }
}

.wool-image {
    height: 300px;
    background: url("../images/knitting-rangesm.jpg") no-repeat center center;
}

.linen-image {
    height: 300px;
    background: url("../images/material-samplessm.jpg") no-repeat center center;
}

.leather-image {
    height: 300px;
    background: url("../images/sample-productsm.jpg") no-repeat center center;
}

.enquiry, .submit-button {
    border-radius: 10%;
    background-color: #14213d;
    color: #cccccc;
}

.submit-button:hover {
    color:#fca311;
}

.enquiry:hover {
    color: #fca311;
}

.g-3 {
    padding-right: 100px;
    Padding-left: 100px;
}

.contact-heading {
    text-transform: uppercase;
    padding-left: 30px;
}

.contact-text {
   padding-left: 100px;
   padding-right: 100px;
   padding-top: 20px;
}

.form-confirmation {
    text-align: center;
}

.form-confirmation-message {
    text-align: center;
    font-size: 120%;
}

#home-text {
    font-size: 110%;
    width: 300px;
    height: 200px;
    text-align: center;
    background-color: rgb(204, 204, 204, 0.5);
    margin:auto;
    border-radius: 5%;
}

#home-text p {
    padding-top: 20px;
}

#home-text button {
    margin-top: 20px;
    font-size: 120%;
    border-radius: 5%;
    background-color: #14213d;
    color:#cccccc;
}

#home-text button:hover {
    color:#fca311;
}

/*----------------------------------------Footer*/

footer {
    background-color: #14213d;
    text-align: center;
    min-height: 150px;
    margin: 0;
    font-size: 115%;
    width: 100%;
    padding-bottom: 30px;
}

footer h4 {
    font-size: 90%;
    color: #fca311;
}

.footer-button {
    border-color: #fca311;
    color: #fca311;
    padding: 1px;
    text-transform: uppercase;
    border-style: solid;
    border-radius: 7%;
    font-size: 100%;
    letter-spacing: 0px;
    border-width: 1.5px;
   }

.footer-button:hover {
    color: #cccccc;
    border-color: #cccccc;
}

footer a {
    color: #e0e0e0;
    text-decoration: none;
    letter-spacing: 10px;
    font-size: 125%;
    margin-top: 20px;
}

footer a:hover {
    color: #fca311;
}

.developer-name {
    margin-top: 20px;
}

footer p {
    color:#e0e0e0;
    font-size: 75%;
}

.address {
    color:#e0e0e0;
    font-size: 75%;
    padding-left: 45px;
    padding-right: 45px;
}

footer h4 {
    margin-top: 15px;
}

.social-links {
    letter-spacing: 50px;
    font-size: 110%;
    padding-top: 15px;
    padding-bottom: 15px;
}
